body{
	background-color: #dddddd;
	font-family: DejaVu Sans;
}
#content{
	margin:auto;
	width: 950px;
}
#header{
	width: 100%;
	float: left;
	height: 170px;
	background:  linear-gradient(45deg, #CB1F5A, #327987);
}
#menu{
	width: 100%;
	height: 50px;
	float: left;
	background-color: #21303B;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul li {
	float: right;
}
#menu ul li a {
	float: left;
	color: #fff;
	padding: 15px 20px;
	text-decoration: none;
	background-color: #21303B;
	border-left: 2px solid #56647c;
}
#menu ul li a:hover {
	color: white;
	background: #3c4045;
}
#menu a img {
	margin-top: 1px;
	margin-right: 1px;
	max-width: 12px;
}
#main-content{
	width: 100%;
	min-height: auto;
}
#news{
	
	width: 70%;
	height: 100%;
	overflow: auto;
	float: right;
	background-color: white;
}
.gambar {
	width: 30%;
	margin-bottom: 15px;
	border: 10px solid #7d4c70;
	border-radius: 50%;
	box-shadow: 0 0 5px black;
	margin-bottom: 10px;
	margin-top: 10px;
}
}
.news h2 {
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.news p {
	font-size: 13px;
	color: black;
	text-align: center;
}
.table1 {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}
.table1, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}
#side-menu{
	background: linear-gradient(45deg, #CB1F5A, #327987);
	float: left;
	width: 265px;
	height: 96.6%;
	text-align: center;
	padding: 10px;
}
.isimenu a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 15px;
	padding: 14px 25px;
}
.isimenu a:hover{
	background: linear-gradient(45deg, #36CACC, #CB1F5A, #21303B);
	border-radius: 50px;
	box-shadow: 0 0 10px black;
}
.isimenu img{
	width: 150px;
	height: 150px;
	border: 10px solid #b2acdc;
	border-radius: 50%;
	box-shadow: 0 0 5px black;
	margin-bottom: 20px;
	margin-top: 20px;
}
.isimenu p{
	color: white;
	text-decoration: none;
	font-size: 15px;
	margin-top: 80px;
}
.jam-digital {
	width: 330px;
	margin: 20px auto;
}
.kotak{
	float: left;
	width: 90px;
	height: 50px;
}
.jam-digital p {
	color: #fff;
	font-size: 36px;
	text-align: center;
	margin-top: 0px;
}
#footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #21303B;
}
.isifooter {
	color: white;
	text-align: center;
	font-size: 11px;
	margin-top: 13px;
}
.isifooter a {
	color: #7d4c70;
	text-decoration: none;
}