body {
	margin:0;
	padding:0;
	scroll-behavior: smooth;
	font-family: Helvetica Neue , Helvetica;
}

#wrapper {
	padding-bottom: 1100px;
}

.sosmed {
	position: fixed;
	z-index:9;
	width: 100%;
	text-align: center;
	bottom: 0;
}

.isi-sosmed {
	height: 50px;
	width:20%;
	margin-left: auto;
	margin-right: auto;
	padding:2px ;
	color:#fff;
	background: rgba(255,255,255,0.8);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
}

.isi-sosmed a img {
	margin-top: 6px;
	margin-right: 6px;
	max-width: 40px;
}

p {
	font-family: Helvetica Neue , Helvetica;
	font-size: 18px;
	color:#504a4a;
}

ul.text-experience {
	font-family: Helvetica Neue , Helvetica;
	font-size: 17px;
	color:#504a4a;
}

ul.text-experience, li {
	padding-bottom:20px;
}

ul.text-experience, li,div.text {
	margin-top:-15px;
}

section {
	position:relative;
	margin:0;
	padding:0;
	background: linear-gradient(rgba(57, 106, 252, 0.5), rgba(41, 72, 255, 0.2));
	width:100%;
	height:104vh;
}

section.sec2 {
	height:35vh;
	padding-bottom: 100px;
	background: #fff;
}

#curve {
	position:absolute;
	bottom:0;
	width:100%;
}

#curve path{
	fill:#fff;
}

#curve2 {
	position:absolute;
	bottom:0;
	width:100%;
	transform: rotateY(100deg);
}

.important {
	color:rgba(162,186,260,261);
}

nav {
	position: fixed;
	z-index:9;
	width: 100%;
	text-align: center;
}

nav ul, .menu-list{
	width:30%;
	margin:0 auto;
	padding:0;
	background: linear-gradient(rgba(157,181,253,255), rgba(160,183,253,255));
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	padding-top:15px;
	padding-bottom:20px;
}

nav ul li a {
	text-decoration: none;
	color:#fff;
	font-size: 20px;
	padding:20px;
}

nav ul li a:hover {
	color:rgba(157,181,254,255);
	background: #fff;
}

.login {
 	text-align:center;
	width:46%;
	margin-top:0px;
	display: inline-block;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.banner {
	color:#fff;
	text-align: center;
	padding-top:100px;
	transform: margin-left 1s;
}

.circle-avatar {
 	height: 200px;
 	width: 200px;
	margin: 0px auto;
	background: url(foto.jpg)center ;
	border: 8px solid rgba(157,181,254,255);
	background-size : cover;
	background-repeat: no-repeat;
	background-attachment: local;
 	border-radius: 20%;
}

#circle{
	height:300px;
	width:300px;
	margin:0px auto;
	background:url(foto4.jpg)center ;
	background-size : cover;
	background-repeat:no-repeat;
	background-attachment:local;
	margin-top:-270px;
	border-radius: 50%;
}

#circle2{
	height:240px;
	width:250px;
	margin-top:-240px;
	margin-left:-250px;
	background-color:#fff;
	border-radius: 50%;
}

#circle3{
	height:240px;
	width:250px;
	margin-left:250px;
	background-color:#fff;
	border-radius: 50%;
}

.title > .name {
	font-size: 40px;
 	text-shadow: 2px 2px 20px black;
}

.title > p {
	margin-top:-20px;
	font-size: 20px;
	color:#fff;
	text-shadow: 2px 2px 20px black;
}

.title > .circle-small {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
}

.title > .circle-small > b {
	font-family: Helvetica Neue , Helvetica;
	color:rgba(157,181,254,255);
	text-align: center;
	margin-top: 20px;
}

.title-content {
	font-size: 40px;
	text-align: center;
	font-family: Helvetica Neue , Helvetica;
	color:rgba(162,186,260,261);
}

.content {
	scroll-behavior: smooth;
	margin-left: 150px;
	margin-right: 150px;
	width: 100% auto;
}

.content-float {
	position: relative;
	padding-top: 30px;
	padding-bottom: 80px;
	border-radius: 10px;
	background-color: #fff;
}

.left-menu {
	width:47%;
	text-align: right;
	display: inline-block;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.right-menu {
	text-align: left;
	width:46%;
	margin-top:0px;
	display: inline-block;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.toggle {
	width:100%;
	background-color: #fff;
	padding-top: 15px ;
	padding-bottom: 15px ;
	display: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom: 8px solid rgba(162,186,260,261);
}

.login2 {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: rgba(157,181,254,255);
  border-radius: 3px;
}
 
label {
  font-size: 10pt;
  color: #555;
}
 
input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px;
}